# Server Configuration
PORT=5000
BASE_URL=http://localhost:5000

# MongoDB Configuration
MONGO_URI=mongodb+srv://ariyaneiasin02_db_user:<db_password>@cluster0.by041sv.mongodb.net/

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=Product-Hunt
CLOUDINARY_API_KEY=322918156977251
CLOUDINARY_API_SECRET=S1taYPEuCwc4c-jz2JJc8YPtTd0

# File Upload Configuration
MAX_FILE_SIZE=5242880
